.input {
  height: 3rem;
  box-shadow: 6px 15px 12px -7px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 6px 15px 12px -7px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 6px 15px 12px -7px rgba(0, 0, 0, 0.46);
}
